<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Main</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height:50%;">
        <div><h2>Hasil Data</h2></div>
        <hr/>
        <h4>Nama</h4>
        <p th:text="${kirimanNama}"/></p>
        <h4>Tanggal</h4>
        <p th:text="${kirimanTanggal}"/></p>
        <h4>Foto</h4>
        <img th:src="${kirimanFoto}" style="width:500px;height:300px;">        
    </body>
</html>
